3rd Year/AMM P4/ClienteCalculadora/ClienteCalculadora2/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServicioCalculadora2" />
  <xs:element name="ComprobarPuntos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Dni" type="xs:int" />
        <xs:element minOccurs="0" name="Matricula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprobarPuntosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComprobarPuntosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprobarMultas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Dni" type="xs:int" />
        <xs:element minOccurs="0" name="Matricula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprobarMultasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioCalculadora2" minOccurs="0" name="ComprobarMultasResult" nillable="true" type="q1:ArrayOfMulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Identificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdentificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdentificacionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PonerMulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Matricula" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Puntos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PonerMultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PonerMultaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuitarMulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Matricula" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuitarMultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuitarMultaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Dni" type="xs:int" />
        <xs:element minOccurs="0" name="Matricula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AltaVehiculoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Dni" type="xs:int" />
        <xs:element minOccurs="0" name="Matricula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BajaVehiculoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>