3rd Year/SD/AMM P4/ClienteCalculadora/ClienteCalculadora2/Service References/ServiceReference1/ServicioCalculadora2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioCalculadora2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioCalculadora2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMulta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Multa" nillable="true" type="tns:Multa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMulta" nillable="true" type="tns:ArrayOfMulta" />
  <xs:complexType name="Multa">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Matricula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PuntosPerdidos" type="xs:int" />
      <xs:element minOccurs="0" name="multa" nillable="true" type="tns:Multa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Multa" nillable="true" type="tns:Multa" />
</xs:schema>